<div class="form-group">
  <div class = "row">
      

    <div class = "col-md-6 offset-2">
        <label for="comment">Enter Text : </label>
        <form #testForm="ngForm">
  <textarea class="form-control" rows="3" id="comment" name = "textString" [(ngModel)] = "textString" required ></textarea>
  <div class = "mt-5 text-center">
  <button class = "btn btn-primary" (click) = "addTags(testForm.value)" [disabled] = testForm.invalid > Add Tags </button>
</div>
</form>
<div *ngIf = 'showBar'>
    <app-tags [textString] = 'resultArray' (deleteTag) = 'delete($event)'> </app-tags>
    </div>
    <div class = "mt-5 text-center">
       <app-edit-modal [updateString] = 'resultArray' (newString) = 'updateTags($event)'></app-edit-modal>
    </div>

</div>


</div>


</div>

